<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>

  @font-face {
    font-family: 'Segment7';
    /* src: url('fonts/Segment7Standard.otf'); */
  }

  @font-face {
    font-family: 'Liberation';
    /* src: url('fonts/LiberationSans-Regular.ttf'); */
  }


  input {
    position: absolute;
    z-index: 1;
    visibility: hidden;
  }

  #report {
    position: absolute;
    z-index: 1;
    border: 2px solid #80ff80;
    box-shadow: 0px 0px 24px 0px #80ff80;
    color: #00ff00;
    background-color: #000000;
    white-space: pre;
  }
  </style>
</head>

<body bgcolor="#000000">
<center>
  <canvas id="controler" width="1024" height="512"></canvas>
</center>
<input id="input" type="text" value="hjkhj"/>

<audio id="music" src="audio/music.mp3" type="audio/mpeg" loop></audio>
<audio id="thruster" src="audio/thruster.mp3" type="audio/mpeg"></audio>
<audio id="click" src="audio/click.mp3" type="audio/mpeg"></audio>
<audio id="blip" src="audio/blip.mp3" type="audio/mpeg"></audio>
</body>

<script>

/************************
 * MISSION MODELIZATION *
 ************************/

function P83XYVector(x, y) {
  this.set = function (x, y) {
    this.x = x;
    this.y = y;
  };
  this.set(x, y);
  this.is_equal = function (other) {
    return (this.x == other.x && this.y == other.y);
  };
  this.add = function (other) {
    this.x += other.x;
    this.y += other.y;
  };
  this.to_string = function () {
    return "" + this.x + "," + this.y;
  }
}

ZERO_VECTOR = new P83XYVector(0, 0);

function P83Probe() {
  this.position = new P83XYVector(0, 0);
  this.speed = new P83XYVector(0, 0);
  this.setup = function () {
    this.position.set(0, 0);
    this.speed.set(0, 0);
  };
  this.setup();
  this.accelerate = function (thrust) {
    // thrust :
    // 7 8 9
    // 4 5 6
    // 1 2 3
    var acceleration = new P83XYVector((thrust - 1) % 3 - 1, Math.floor((thrust - 1) / 3) - 1);
    this.speed.add(acceleration);
    this.position.add(this.speed);
  };
  this.is_motionless = function () {
    return this.speed.is_equal(ZERO_VECTOR);
  };
  this.to_string = function () {
    return "  SPEED : (" + this.speed.to_string() + ")\n  POSITION : (" + this.position.to_string() + ")\n";
  }
}

CHECK_STATE_NONE = 0;
CHECK_STATE_POSITION = 1;
CHECK_STATE_SPEED = 2;
CHECK_STATE_BOTH = 3;

function P83Targets() {
  this.setup = function (positions, is_tracking_ok) {
    // positions : non-empy array of pair length [x0,y0,x1,y1,...]
    this.positions = [];
    this.checked = [];
    for (var i = 0; i < positions.length; i += 2) {
      this.positions.push(new P83XYVector(positions[i], positions[i + 1]));
      this.checked.push(false);
    }
    this.nb_checked = 0;
    this.is_tracking_ok = is_tracking_ok;
  };
  this.setup([0, 0], true);
  this.check = function (probe) {
    for (var i = 0; i < this.positions.length; i++) {
      if (this.positions[i].is_equal(probe.position)) {
        var check_state = CHECK_STATE_POSITION;
        if (this.is_tracking_ok || probe.is_motionless()) {
          check_state = CHECK_STATE_BOTH;
          if (!this.checked[i]) {
            this.checked[i] = true;
            this.nb_checked++;
          }
        }
        return check_state;
      }
    }
    return CHECK_STATE_NONE;
  };
  this.check_all = function () {
    return (this.nb_checked == this.checked.length);
  };
  this.targets_string = function () {
    var string = "";
    for (var i = 0; i < this.positions.length; i++) {
      string += "  " + String.fromCharCode(65 + i) + " : (" + this.positions[i].to_string() + ")\n";
    }
    return string;
  };
  this.checked_string = function () {
    var string = "";
    for (var i = 0; i < this.checked.length; i++) {
      if (this.checked[i]) {
        string += String.fromCharCode(65 + i) + " ";
      }
    }
    return string;
  }
}

function P83Mission() {
  this.probe = new P83Probe();
  this.targets = new P83Targets();
  this.setup = function (name, code, positions, is_diagonal_allowed, is_tracking_ok, oxygen) {
    // constants for this mission
    this.name = name;
    this.code = code;
    this.targets.setup(positions, is_tracking_ok);
    this.nb_targets = this.targets.positions.length;
    this.is_diagonal_allowed = is_diagonal_allowed;
    this.is_tracking_ok = is_tracking_ok;
    this.oxygen_at_start = oxygen;
    // variables for this mission
    this.probe.setup();
    this.sequence = "";
    this.oxygen = oxygen;
    this.is_speed_ok = true;
    this.is_achieved = false;
  };
  this.setup("NO NAME", "NO CODE", [0, 0], true, true, 0);
  this.move = function (thrust) {
    if (thrust < 1 || thrust > 9) return;
    this.sequence += thrust;
    this.probe.accelerate(thrust);
    check_state = this.targets.check(this.probe);
    switch (check_state) {
      case CHECK_STATE_POSITION:
        this.is_speed_ok = false;
        break;
      case CHECK_STATE_BOTH:
        this.is_speed_ok = true;
        if (this.targets.check_all()) {
          this.is_achieved = true;
        }
        break;
    }
    this.oxygen--;
  };
  this.to_string = function () {
    return "MISSION : " + this.name + "\n"
           + "TELEPORTATION CODE : " + this.code + "\n\n"
           + "*** DESCRIPTION ***\n"
           + "TARGETS :\n"
           + this.targets.targets_string()
           + "DIAGONAL THRUST : " + (this.is_diagonal_allowed ? "OK" : "NOK") + "\n"
           + "TRACKING DEVICE : " + (this.is_tracking_ok ? "OK" : "NOK") + "\n"
           + "OXYGEN AT DEPARTURE : " + this.oxygen_at_start + "\n\n"
           + "*** CURRENT STATUS ***\n"
           + (this.sequence == "" ? "" : "SEQUENCE : " + this.sequence + "\n")
           + "PROBE :\n" + this.probe.to_string()
           + "VALIDATED TARGET(S) : " + (this.targets.nb_checked == 0 ? "NONE" : this.targets.checked_string()) + "\n"
           + "REMAINING OXYGEN : " + this.oxygen;
  }

}

/*********************
 * INTERFACE WIDGETS *
 *********************/

RED_COLORS = ["#ff0000", "#ff8080", "#100000"];
GREEN_COLORS = ["#00ff00", "#80ff80", "#001000"];
LIGHT_COLORS = ["#80ff80", "#80ff80", "#001000"];
BLUE_COLORS = ["#0000ff", "#8080ff", "#000010"];

function P83Title(parent, x, y, w, h, title) {
  this.parent = parent;
  this.root = this.parent.root;
  this.x = x;
  this.y = y;
  this.w = w;
  this.h = h;
  this.title = title;
  this.draw = function () {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    ctx.fillStyle = LIGHT_COLORS[0];
    ctx.shadowBlur = 0;
    ctx.font = "" + Math.floor(unit * 0.8) + "px Liberation";
    ctx.textAlign = "left";
    ctx.textBaseline = "middle";
    var text_width = ctx.measureText(this.title).width;
    ctx.fillText(this.title, (this.x + 2) * unit, (this.y + 1) * unit);
    //
    ctx.lineWidth = 2;
    ctx.strokeStyle = LIGHT_COLORS[0];
    ctx.beginPath();
    ctx.moveTo((this.x + 1.5) * unit, (this.y + 1) * unit);
    ctx.lineTo((this.x + 1) * unit, (this.y + 1) * unit);
    ctx.lineTo((this.x + 1) * unit, (this.y + 2) * unit);
    ctx.stroke();
    ctx.beginPath();
    ctx.moveTo((this.x + 2.5) * unit + text_width, (this.y + 1) * unit);
    ctx.lineTo((this.x + this.w - 1) * unit, (this.y + 1) * unit);
    ctx.lineTo((this.x + this.w - 1) * unit, (this.y + 2) * unit);
    ctx.stroke();
    ctx.beginPath();
    ctx.moveTo((this.x + 1) * unit, (this.y + this.h - 2) * unit);
    ctx.lineTo((this.x + 1) * unit, (this.y + this.h - 1) * unit);
    ctx.lineTo((this.x + this.w - 1) * unit, (this.y + this.h - 1) * unit);
    ctx.lineTo((this.x + this.w - 1) * unit, (this.y + this.h - 2) * unit);
    ctx.stroke();
  }
}

function P83Diod(parent, x, y) {
  this.parent = parent;
  this.root = this.parent.root;
  this.x = x;
  this.y = y;
  this.is_lit = true;
  this.is_blinking = false;
  this.nb_timeouts = 0;
  this.colors = GREEN_COLORS;
  this.draw = function () {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    if (this.is_lit) {
      ctx.fillStyle = this.colors[0];
      ctx.strokeStyle = this.colors[0];
      ctx.shadowBlur = unit;
      ctx.shadowColor = this.colors[1];
    } else {
      ctx.strokeStyle = "#101010";
      ctx.fillStyle = this.colors[2];
      ctx.shadowBlur = 0;
    }
    ctx.beginPath();
    ctx.arc(unit * this.x, unit * this.y, unit / 3, 0, 2 * Math.PI, false);
    ctx.stroke();
    ctx.fill();
  };
  this.blink = function (state) {
    switch (state) {
      case 0:
        if (!this.is_blinking) return;
        this.is_blinking = false;
        this.is_lit = true;
        this.parent.draw();
        break;
      case 1:
        if (this.is_blinking) return;
        this.is_blinking = true;
        if (this.nb_timeouts == 0) {
          this.nb_timeouts = 1;
          setTimeout(function () {
            this.blink(2);
          }.bind(this), 0);
        }
        break;
      case 2:
        this.nb_timeouts--;
        if (!this.is_blinking || this.nb_timeouts > 0) return;
        this.is_lit = !this.is_lit;
        this.parent.draw();
        if (this.is_lit) {
          document.getElementById("blip").volume = 0.01;
          document.getElementById("blip").play();
        }
        this.nb_timeouts = 1;
        setTimeout(function () {
          this.blink(2);
        }.bind(this), 300);
    }
  }
}

function P83Button(parent, x, y, w, h, text, on_callback, off_callback) {
  this.root = parent.root;
  this.x = x;
  this.y = y;
  this.w = w;
  this.h = h;
  this.text = text;
  this.on_callback = on_callback;
  this.off_callback = off_callback;
  this.is_active = true;
  this.is_lit = false;
  this.colors = LIGHT_COLORS;
  this.draw = function () {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    this.colors = LIGHT_COLORS;
    if (this.is_active) {
      if (this.is_lit) {
        this.colors = GREEN_COLORS;
      }
      ctx.shadowBlur = unit / 2;
      ctx.fillStyle = this.colors[2];
      ctx.strokeStyle = this.colors[0];
      ctx.shadowColor = this.colors[1];
    } else {
      ctx.strokeStyle = "#101010";
      ctx.fillStyle = this.colors[2];
      ctx.shadowBlur = 0;
    }
    ctx.fillRect(this.x * unit, this.y * unit, this.w * unit, this.h * unit);
    ctx.strokeRect(this.x * unit, this.y * unit, this.w * unit, this.h * unit);
    //
    ctx.fillStyle = "#000000";
    if (this.is_active) {
      ctx.fillStyle = this.colors[0];
      ctx.shadowBlur = unit / 4;
      ctx.shadowColor = this.colors[1];
    }
    ctx.font = "" + Math.floor(5 / 4 * unit) + "px Segment7";
    ctx.textAlign = "center";
    ctx.textBaseline = "top";
    ctx.fillText(this.text, (this.x + this.w / 2) * unit, (this.y + 0.5) * unit);
  };
  this.on_click = function (x, y) {
    if (!this.is_active) return;
    if (this.is_lit) return;
    var unit = this.root.unit;
    var dx = x - this.x * unit;
    var dy = y - this.y * unit;
    this.is_lit = dx >= 0 && dx <= this.w * unit && dy >= 0 && dy <= this.h * unit;
    if (this.is_lit) {
      document.getElementById("click").volume = 0.1;
      document.getElementById("click").play();
      setTimeout(this.off_callback.bind(this), 200);
      this.on_callback();
    }
  }
}

function P83MenuItem(parent, x, y, text, on_callback, off_callback) {
  this.root = parent.root;
  this.x = x;
  this.y = y;
  this.text = text;
  this.button = new P83Button(this, x, y, 1, 1, "", on_callback, off_callback);
  this.draw = function () {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    ctx.fillStyle = LIGHT_COLORS[0];
    ctx.shadowBlur = 0;
    ctx.textAlign = "left";
    ctx.font = "" + Math.floor(unit * 0.8) + "px Liberation";
    ctx.textBaseline = "middle";
    ctx.fillText(this.text, (this.x + 2) * unit, (this.y + 0.5) * unit);
    this.button.draw();
  };
  this.on_click = function (x, y) {
    this.button.on_click(x, y);
  }
}

function P83Display(parent, x, y, size) {
  this.parent = parent;
  this.root = this.parent.root;
  this.x = x;
  this.y = y;
  this.size = size;
  this.value = "";
  this.colors = GREEN_COLORS;
  this.draw = function () {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    ctx.shadowBlur = 0;
    ctx.fillStyle = this.colors[2];
    ctx.strokeStyle = "#101010";
    ctx.fillRect(this.x * unit, this.y * unit, (this.size * 0.71 + 0.5) * unit, 2 * unit);
    ctx.strokeRect(this.x * unit, this.y * unit, (this.size * 0.71 + 0.5) * unit, 2 * unit);
    //
    ctx.fillStyle = this.colors[0];
    ctx.shadowBlur = unit / 4;
    ctx.shadowColor = this.colors[1];
    ctx.font = "" + Math.floor(5 / 4 * unit) + "px Segment7";
    ctx.textAlign = "left";
    ctx.textBaseline = "top";
    //
    var text = this.value;
    if (text.length > this.size) {
      text = this.value.substring(text.length - this.size, text.length);
    }
    ctx.fillText(text, (this.x + 0.25) * unit, (y + 0.5) * unit);
  }
}

function P83Input(parent, x, y, size, id, callback) {
  this.parent = parent;
  this.root = this.parent.root;
  this.x = x;
  this.y = y;
  this.size = size;
  this.callback = callback;
  this.colors = GREEN_COLORS;
  //
  this.input = document.getElementById(id);
  this.input.value = "";
  this.authorized_chars = "";
  this.is_popping = false;
  this.draw = function () {
    var canvas = this.root.canvas;
    var unit = this.root.unit;
    this.input.style.left = "" + (canvas.offsetLeft + this.x * unit) + "px";
    this.input.style.top = "" + (canvas.offsetTop + this.y * unit) + "px";
    this.input.style.width = "" + (Math.floor((this.size * 0.71 + 0.5) * unit) - 2) + "px";
    this.input.style.height = "" + (2 * unit - 2) + "px";
    this.input.style.backgroundColor = GREEN_COLORS[2];
    this.input.style.font = "" + Math.floor(5 / 4 * unit) + "px Segment7";
    this.input.style.color = GREEN_COLORS[0];
    this.input.style.textShadow = "0 0 " + Math.floor(unit / 4) + "px " + GREEN_COLORS[1];
    this.input.style.border = "1px solid #101010";
  };
  this.setup = function (authorized_chars) {
    this.input.value = "";
    this.authorized_chars = authorized_chars;
  };
  this.on_input = function () {
    var text = this.input.value;
    var correct = "";
    for (var i = 0; i < text.length; i++) {
      for (var j = 0; j < this.authorized_chars.length; j++) {
        if (text[i] == this.authorized_chars[j]) {
          correct += text[i];
        }
      }
    }
    this.input.value = correct;
  };
  this.on_keyup = function (event) {
    if (event.key === "Enter") {
      if (this.is_popping) return;
      this.pop();
    }
  };
  this.input.oninput = this.on_input.bind(this);
  this.input.addEventListener("keyup", this.on_keyup.bind(this));
  this.pop = function () {
    this.is_popping = false;
    if (this.input.value.length == 0) return;
    var ch = this.input.value[0];
    if (this.callback(parseInt(ch))) {
      this.input.value = this.input.value.slice(1);
      this.is_popping = true;
      setTimeout(this.pop.bind(this), 100);
    }
  };
  this.show = function (is_shown) {
    if (is_shown) {
      this.input.style.visibility = "visible";
      this.input.style.zIndex = "1";
    } else {
      this.input.style.visibility = "hidden";
      this.input.style.zIndex = "-1";
    }
  }
}

function P83Number(parent, x, y, size) {
  this.parent = parent;
  this.root = this.parent.root;
  this.size = size;
  this.value = NaN;
  this.display = new P83Display(this, x, y, size);
  this.draw = function () {
    var sign = " ";
    var digits = "";
    var value = this.value;
    if (isNaN(value)) {
      this.display.value = ":-(";
    } else {
      if (value < 0) {
        sign = "-";
        value *= -1;
      }
      for (var i = 1; i < this.size; i++) {
        digits = "" + (value % 10) + digits;
        value = Math.floor(value / 10);
      }
      this.display.value = sign + digits;
    }
    this.display.draw();
  }
}

/**********************
 * LINKED TO XYVector *
 **********************/

function P83XYPanel(parent, x, y, title, vector) {
  this.parent = parent;
  this.root = this.parent.root;
  this.x = x;
  this.y = y;
  this.w = 14;
  this.h = 7;
  this.title = new P83Title(this, this.x, this.y, this.w, this.h, title);
  this.vector = vector;
  this.diod = new P83Diod(this, this.x + 2.5, this.y + 3.5);
  this.number_x = new P83Number(this, this.x + 6, this.y + 1.5, 8);
  this.number_y = new P83Number(this, this.x + 6, this.y + 3.5, 8);
  this.draw = function () {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    ctx.fillStyle = "#000000";
    ctx.shadowBlur = 0;
    ctx.fillRect(this.x * unit, this.y * unit, this.w * unit, this.h * unit);
    //
    this.title.draw();
    this.diod.draw();
    //
    ctx.fillStyle = LIGHT_COLORS[0];
    ctx.shadowBlur = 0;
    ctx.textAlign = "left";
    ctx.font = "" + Math.floor(unit * 0.8) + "px Liberation";
    ctx.textBaseline = "middle";
    ctx.fillText("X", (this.x + 4) * unit, (this.y + 2.5) * unit);
    ctx.fillText("Y", (this.x + 4) * unit, (this.y + 4.5) * unit);
    //
    this.number_x.value = this.vector.x;
    this.number_y.value = this.vector.y;
    //
    this.number_x.draw();
    this.number_y.draw();
  }
}

/*********************
 * LINKED TO MISSION *
 *********************/

function P83Scope(parent, x, y, w, h, mission) {
  this.parent = parent;
  this.root = this.parent.root;
  this.x = x;
  this.y = y;
  this.w = w;
  this.h = h;
  this.mission = mission;
  this.selected = 0;
  this.colors = LIGHT_COLORS;
  this.compute_dimensions = function () {
    this.min_x = this.mission.probe.position.x;
    this.max_x = this.mission.probe.position.x;
    this.min_y = this.mission.probe.position.y;
    this.max_y = this.mission.probe.position.y;
    for (var i = 0; i < this.mission.nb_targets; i++) {
      var x = this.mission.targets.positions[i].x;
      var y = this.mission.targets.positions[i].y;
      if (x < this.min_x) {
        this.min_x = x;
      } else if (x > this.max_x) {
        this.max_x = x;
      }
      if (y < this.min_y) {
        this.min_y = y;
      } else if (y > this.max_y) {
        this.max_y = y;
      }
    }
    var scale = Math.max((this.max_x - this.min_x) / (this.w - 4), (this.max_y - this.min_y) / (this.h - 4));
    scale = Math.max(1, scale);
    var center_x = (this.max_x + this.min_x) / 2;
    var center_y = (this.max_y + this.min_y) / 2;
    this.min_x = center_x - scale * (this.w - 2) / 2;
    this.max_x = center_x + scale * (this.w - 2) / 2;
    this.min_y = center_y - scale * (this.h - 2) / 2;
    this.max_y = center_y + scale * (this.h - 2) / 2;
  };
  this.draw_grid = function (size) {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    var intensity = Math.min(1, ((this.w - 2) / (this.max_x - this.min_x) / 10 * size));
    var color = "rgba(128,255,128," + intensity + ")";
    ctx.strokeStyle = color;
    ctx.shadowColor = color;
    ctx.shadowBlur = 4 * intensity;
    var tick_x = Math.ceil(this.min_x / size) * size;
    while (tick_x < Math.ceil(this.max_x / size) * size) {
      var x = this.x + 1 + (tick_x - this.min_x) / (this.max_x - this.min_x) * (this.w - 2);
      ctx.beginPath();
      ctx.moveTo(x * unit, (this.y + 1) * unit);
      ctx.lineTo(x * unit, (this.y + this.h - 1) * unit);
      ctx.stroke();
      tick_x += size;
    }
    var tick_y = Math.ceil(this.min_y / size) * size;
    while (tick_y < Math.ceil(this.max_y / size) * size) {
      var y = this.y + 1 + (this.max_y - tick_y) / (this.max_y - this.min_y) * (this.h - 2);
      ctx.beginPath();
      ctx.moveTo((this.x + 1) * unit, y * unit);
      ctx.lineTo((this.x + this.w - 1) * unit, y * unit);
      ctx.stroke();
      tick_y += size;
    }
  };
  this.draw_full_grids = function () {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    ctx.shadowBlur = 0;
    ctx.fillStyle = this.colors[2];
    ctx.fillRect(this.x * unit, this.y * unit, this.w * unit, this.h * unit);
    ctx.lineWidth = 0;
    ctx.strokeStyle = this.colors[0];
    ctx.shadowBlur = unit / 4;
    ctx.shadowColor = this.colors[1];
    ctx.strokeRect((this.x + 1) * unit, (this.y + 1) * unit, (this.w - 2) * unit, (this.h - 2) * unit);
    //
    var primary_size = Math.pow(10, Math.ceil(Math.log10((this.max_x - this.min_x) / (this.w - 2) * 10)));
    primary_size = Math.max(100, primary_size);
    this.draw_grid(primary_size / 100);
    this.draw_grid(primary_size / 10);
    this.draw_grid(primary_size);
  };
  this.draw_element = function (position, is_probe, is_selected, is_checked) {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    var x = this.x + 1 + (position.x - this.min_x) / (this.max_x - this.min_x) * (this.w - 2);
    var y = this.y + 1 + (this.max_y - position.y) / (this.max_y - this.min_y) * (this.h - 2);
    if (is_selected) {
      ctx.strokeStyle = GREEN_COLORS[0];
      ctx.fillStyle = GREEN_COLORS[0];
    } else {
      ctx.strokeStyle = LIGHT_COLORS[0];
      ctx.fillStyle = LIGHT_COLORS[0];
    }
    if (is_probe) {
      ctx.beginPath();
      ctx.moveTo((x + 0.7) * unit, y * unit);
      ctx.lineTo((x + 0.5) * unit, (y + 0.2) * unit);
      ctx.lineTo((x + 0.5) * unit, (y + 0.5) * unit);
      ctx.lineTo((x + 0.2) * unit, (y + 0.5) * unit);
      ctx.lineTo(x * unit, (y + 0.7) * unit);
      ctx.lineTo((x - 0.2) * unit, (y + 0.5) * unit);
      ctx.lineTo((x - 0.5) * unit, (y + 0.5) * unit);
      ctx.lineTo((x - 0.5) * unit, (y + 0.2) * unit);
      ctx.lineTo((x - 0.7) * unit, y * unit);
      ctx.lineTo((x - 0.5) * unit, (y - 0.2) * unit);
      ctx.lineTo((x - 0.5) * unit, (y - 0.5) * unit);
      ctx.lineTo((x - 0.2) * unit, (y - 0.5) * unit);
      ctx.lineTo(x * unit, (y - 0.7) * unit);
      ctx.lineTo((x + 0.2) * unit, (y - 0.5) * unit);
      ctx.lineTo((x + 0.5) * unit, (y - 0.5) * unit);
      ctx.lineTo((x + 0.5) * unit, (y - 0.2) * unit);
      ctx.closePath();
      ctx.stroke();
    } else {
      ctx.beginPath();
      ctx.arc(x * unit, y * unit, unit / 3, 0, 2 * Math.PI, false);
      ctx.stroke();
      if (is_selected) ctx.fill();
      if (is_checked) {
        ctx.beginPath();
        ctx.arc(x * unit, y * unit, unit / 2, 0, 2 * Math.PI, false);
        ctx.stroke();
      }
    }
  };
  this.draw_probe = function () {
    this.draw_element(this.mission.probe.position, true, false, false);
  };
  this.draw_targets = function () {
    for (var i = 0; i < this.mission.nb_targets; i++) {
      this.draw_element(this.mission.targets.positions[i],
        false,
        i == this.selected,
        this.mission.targets.checked[i]);
    }
  };
  this.draw = function () {
    this.compute_dimensions();
    this.draw_full_grids();
    this.draw_probe();
    this.draw_targets();
  };
  this.select = function (selected) {
    this.selected = selected;
    this.draw();
  }
}

function P83StatusPanel(parent, x, y, mission) {
  this.parent = parent;
  this.root = this.parent.root;
  this.x = x;
  this.y = y;
  this.w = 14;
  this.h = 7;
  this.mission = mission;
  this.title = new P83Title(this, this.x, this.y, this.w, this.h, "STATUS");
  this.oxygen_diod = new P83Diod(this, this.x + 2.5, this.y + 2.5);
  this.oxygen_number = new P83Number(this, this.x + 8, this.y + 1.5, 5);
  this.tracking_diod = new P83Diod(this, this.x + 2.5, this.y + 4.5);
  this.draw = function () {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    ctx.fillStyle = "#000000";
    ctx.shadowBlur = 0;
    ctx.fillRect(this.x * unit, this.y * unit, this.w * unit, this.h * unit);
    //
    this.title.draw();
    //
    ctx.fillStyle = LIGHT_COLORS[0];
    ctx.shadowBlur = 0;
    ctx.textAlign = "left";
    ctx.font = "" + Math.floor(unit * 0.8) + "px Liberation";
    ctx.textBaseline = "middle";
    ctx.fillText("OXYGEN", (this.x + 4) * unit, (this.y + 2.5) * unit);
    ctx.fillText("TRACKING DEVICE", (this.x + 4) * unit, (this.y + 4.5) * unit);
    //
    if (this.mission.oxygen > 1) {
      this.oxygen_diod.colors = GREEN_COLORS;
    } else {
      this.oxygen_diod.colors = RED_COLORS;
    }
    this.oxygen_number.value = this.mission.oxygen;
    if (this.mission.is_tracking_ok) {
      this.tracking_diod.colors = GREEN_COLORS;
    } else {
      this.tracking_diod.colors = RED_COLORS;
    }
    //
    this.oxygen_diod.draw();
    this.oxygen_number.draw();
    this.tracking_diod.draw();
  }
}

function P83ThrustPanel(parent, x, y, mission, move_callback) {
  this.parent = parent;
  this.root = this.parent.root;
  this.x = x;
  this.y = y;
  this.w = 14;
  this.h = 14;
  this.mission = mission;
  this.move_callback = move_callback;
  this.clear = function () {
    for (var i = 0; i < 9; i++) {
      this.buttons[i].is_lit = false;
    }
    this.draw();
  };
  this.title = new P83Title(this, this.x, this.y, this.w, this.h, "THRUST");
  this.is_diagonal_allowed = true;
  this.buttons = [];
  for (var i = 0; i < 9; i++) {
    this.buttons.push(
      new P83Button(
        this,
        this.x + 3.5 + 2.5 * (i % 3),
        this.y + 8.5 - 2.5 * Math.floor(i / 3),
        2, 2, "" + (i + 1),
        this.move_callback.bind(this, i + 1),
        this.clear.bind(this)
      )
    );
  }
  this.draw_arrow = function (x1, y1, x2, y2, x3, y3) {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    ctx.strokeStyle = LIGHT_COLORS[0];
    ctx.shadowBlur = 0;
    ctx.beginPath();
    ctx.moveTo(x1 * unit, y1 * unit);
    ctx.lineTo(x2 * unit, y2 * unit);
    ctx.lineTo(x3 * unit, y3 * unit);
    ctx.stroke();
  };
  this.draw = function () {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    ctx.fillStyle = "#000000";
    ctx.shadowBlur = 0;
    ctx.fillRect(this.x * unit, this.y * unit, this.w * unit, this.h * unit);
    //
    this.title.draw();
    for (var i = 0; i < this.buttons.length; i++) {
      this.buttons[i].draw();
    }

    this.draw_arrow(this.x + 3, this.y + 9.5, this.x + 3, this.y + 11, this.x + 4.5, this.y + 11);
    this.draw_arrow(this.x + 6, this.y + 11, this.x + 7, this.y + 12, this.x + 8, this.y + 11);
    this.draw_arrow(this.x + 11, this.y + 9.5, this.x + 11, this.y + 11, this.x + 9.5, this.y + 11);
    this.draw_arrow(this.x + 11, this.y + 6, this.x + 12, this.y + 7, this.x + 11, this.y + 8);
    this.draw_arrow(this.x + 11, this.y + 4.5, this.x + 11, this.y + 3, this.x + 9.5, this.y + 3);
    this.draw_arrow(this.x + 6, this.y + 3, this.x + 7, this.y + 2, this.x + 8, this.y + 3);
    this.draw_arrow(this.x + 3, this.y + 4.5, this.x + 3, this.y + 3, this.x + 4.5, this.y + 3);
    this.draw_arrow(this.x + 3, this.y + 6, this.x + 2, this.y + 7, this.x + 3, this.y + 8);

  };
  this.setup = function () {
    if (this.mission.is_diagonal_allowed) {
      for (var i = 0; i < 9; i++) {
        this.buttons[i].is_active = true;
      }
    } else {
      for (var i = 0; i < 9; i++) {
        this.buttons[i].is_active = (i != 0) && (i != 2) && (i != 6) && (i != 8);
      }
    }
  };
  this.on_click = function (x, y) {
    for (var i = 0; i < this.buttons.length; i++) {
      this.buttons[i].on_click(x, y);
    }
  }
}

function P83TargetSelector(parent, x, y, mission, callback) {
  this.parent = parent;
  this.root = this.parent.root;
  this.x = x;
  this.y = y;
  this.w = 14;
  this.h = 21;
  //
  this.mission = mission;
  this.callback = callback;
  this.selected = 0;
  //
  this.title = new P83Title(this, this.x, this.y, this.w, this.h, "TARGET SELECTOR");
  this.diod = new P83Diod(this, this.x + 2.5, this.y + 17.5);
  this.number_x = new P83Number(this, this.x + 6, this.y + 15.5, 8);
  this.number_y = new P83Number(this, this.x + 6, this.y + 17.5, 8);
  //
  this.draw = function () {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    ctx.fillStyle = "#000000";
    ctx.shadowBlur = 0;
    ctx.fillRect(this.x * unit, this.y * unit, this.w * unit, this.h * unit);
    //
    this.title.draw();
    for (var i = 0; i < this.buttons.length; i++) {
      this.buttons[i].draw();
    }
    this.diod.draw();
    //
    ctx.fillStyle = LIGHT_COLORS[0];
    ctx.shadowBlur = 0;
    ctx.textAlign = "left";
    ctx.font = "" + Math.floor(unit * 0.8) + "px Liberation";
    ctx.textBaseline = "middle";
    ctx.fillText("X", (this.x + 4) * unit, (this.y + 16.5) * unit);
    ctx.fillText("Y", (this.x + 4) * unit, (this.y + 18.5) * unit);
    //
    this.number_x.draw();
    this.number_y.draw();
  };
  this.select = function (selected) {
    for (var i = 0; i < this.mission.nb_targets; i++) {
      this.buttons[i].is_lit = (i == selected);
    }
    this.selected = selected;
    this.callback(selected);
    this.number_x.value = this.mission.targets.positions[selected].x;
    this.number_y.value = this.mission.targets.positions[selected].y;
    this.draw();
  };
  this.setup = function () {
    this.buttons = [];
    for (var i = 0; i < 20; i++) {
      this.buttons.push(
        new P83Button(
          this,
          this.x + 2 + 8 / 3 * (i % 4),
          this.y + 2 + 8 / 3 * Math.floor(i / 4),
          2, 2, String.fromCharCode(65 + i),
          this.select.bind(this, i),
          function () {
          }
        )
      );
      this.buttons[i].is_active = i < this.mission.nb_targets;
    }
    this.select(0);
  };
  this.setup();
  this.on_click = function (x, y) {
    for (var i = 0; i < this.buttons.length; i++) {
      this.buttons[i].on_click(x, y);
    }
  }
}

function P83SequencePanel(parent, x, y, mission, callback) {
  this.parent = parent;
  this.root = this.parent.root;
  this.mission = mission;
  this.x = x;
  this.y = y;
  this.w = 42;
  this.h = 7;
  this.title = new P83Title(this, this.x, this.y, this.w, this.h, "THRUST SEQUENCE");
  this.sequence = new P83Display(this, this.x + 9.75, this.y + 1.5, 42);
  this.sequence_input = new P83Input(this, this.x + 9.75, this.y + 3.5, 42, "input", callback);
  //this.sequence_input = new P83Display(this,this.x+9.75,this.y+3.5,62);
  this.draw = function () {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    this.sequence_input.show(true);
    ctx.fillStyle = "#000000";
    ctx.shadowBlur = 0;
    ctx.fillRect(this.x * unit, this.y * unit, this.w * unit, this.h * unit);
    //
    this.title.draw();
    //
    ctx.fillStyle = LIGHT_COLORS[0];
    ctx.shadowBlur = 0;
    ctx.textAlign = "left";
    ctx.font = "" + Math.floor(unit * 0.8) + "px Liberation";
    ctx.textBaseline = "middle";
    ctx.fillText("SEQUENCE", (this.x + 2) * unit, (this.y + 2.5) * unit);
    ctx.fillText("KEYBOARD INPUT", (this.x + 2) * unit, (this.y + 4.5) * unit);
    //
    this.sequence.value = this.mission.sequence;
    this.sequence.draw();
    this.sequence_input.draw();
  };
  this.setup = function () {
    if (this.mission.is_diagonal_allowed) {
      this.sequence_input.setup("123456789");
    } else {
      this.sequence_input.setup("24568");
    }
  }
}


function P83MissionPanel(parent, x, y, mission, quit_callback) {
  this.root = parent.root;
  this.mission = mission;
  this.quit_callback = quit_callback;
  this.x = x;
  this.y = y;
  this.w = 14;
  this.h = 7;
  this.title = new P83Title(this, this.x, this.y, this.w, this.h, "MISSION");
  this.print = function () {
    this.print_menu_item.button.is_lit = false;
    this.draw();
    window.open("data:text," + encodeURI(mission.to_string()), "_blank");
  };
  this.draw = function () {
    var ctx = this.root.ctx;
    var unit = this.root.unit;
    ctx.fillStyle = "#000000";
    ctx.shadowBlur = 0;
    ctx.fillRect(this.x * unit, this.y * unit, this.w * unit, this.h * unit);
    //
    this.title.draw();
    //
    this.print_menu_item.draw();
    this.quit_menu_item.draw();
  };
  this.on_click = function (x, y) {
    this.print_menu_item.on_click(x, y);
    this.quit_menu_item.on_click(x, y);
  };
  this.quit = function () {
    this.quit_menu_item.button.is_lit = false;
    this.draw();
    this.quit_callback();
  };
  this.print_menu_item = new P83MenuItem(this, this.x + 2, this.y + 2, "PRINT", this.draw.bind(this), this.print.bind(this));
  this.quit_menu_item = new P83MenuItem(this, this.x + 2, this.y + 4, "QUIT", this.draw.bind(this), this.quit.bind(this));
}

function P83Splash(parent, x, y, callback) {
  this.root = parent.root;
  this.x = x;
  this.y = y;
  this.w = 40;
  this.h = 7;
  this.callback = callback;
  this.text = "";
  this.setup = function (text) {
    this.text = text;
  };
  this.draw = function () {
    var unit = this.root.unit;
    var ctx = this.root.ctx;
    ctx.fillStyle = "#000000";
    ctx.strokeStyle = LIGHT_COLORS[0];
    ctx.shadowBlur = unit;
    ctx.fillRect(this.x * unit, this.y * unit, this.w * unit, this.h * unit);
    ctx.strokeRect(this.x * unit, this.y * unit, this.w * unit, this.h * unit);
    //
    ctx.shadowBlur = 0;
    ctx.fillStyle = LIGHT_COLORS[0];
    ctx.textAlign = "left";
    ctx.font = "" + Math.floor(unit * 0.8) + "px Liberation";
    ctx.textBaseline = "middle";
    ctx.fillText(this.text, (this.x + 2) * unit, (this.y + 2.5) * unit);
    //
    this.menu_item.draw();
  };
  this.on_click = function (x, y) {
    this.menu_item.on_click(x, y);
  };
  this.quit = function () {
    this.menu_item.button.is_lit = false;
    this.callback();
  };
  this.menu_item = new P83MenuItem(this, this.x + 2, this.y + 4, "OK", this.draw.bind(this), this.quit.bind(this));
}


function P83Controler(parent, quit_callback) {
  this.root = parent.root;
  this.mission = new P83Mission();
  this.quit_callback = quit_callback;
  // Callback function for :
  // - thrust panel
  // - sequence panel
  this.move = function (thrust) {
    if (this.mission.oxygen == 0) {
      return false;
    }
    this.mission.move(thrust);
    if (this.mission.is_speed_ok) {
      this.status_panel.tracking_diod.blink(0);
      this.speed_panel.diod.colors = GREEN_COLORS;
      this.speed_panel.diod.blink(0);
    } else {
      this.status_panel.tracking_diod.blink(1);
      this.speed_panel.diod.colors = RED_COLORS;
      this.speed_panel.diod.blink(1);
    }
    if (this.mission.oxygen <= 0) {
      this.status_panel.oxygen_diod.blink(1);
    }
    this.draw();
    if (this.mission.is_achieved) {
      this.splash.setup("MISSION " + this.mission.name + " ACHIEVED !!!");
      this.splash.draw();
    } else if (this.mission.oxygen <= 0) {
      this.splash.setup("YOU DIED BEFORE ACHIEVING MISSION " + this.mission.name + " !!!");
      this.splash.draw();
    }
    return true;
  };
  //
  this.thrust_panel = new P83ThrustPanel(this, 0, 0, this.mission, this.move.bind(this));
  this.speed_panel = new P83XYPanel(this, 0, 14, "SPEED", this.mission.probe.speed);
  this.position_panel = new P83XYPanel(this, 0, 21, "POSITION", this.mission.probe.position);
  //
  this.scope = new P83Scope(this, 14, 0, 28, 28, this.mission);
  //
  this.status_panel = new P83StatusPanel(this, 42, 0, this.mission);
  this.target_selector = new P83TargetSelector(this, 42, 7, this.mission, this.scope.select.bind(this.scope));
  //
  this.quit = function () {
    this.status_panel.oxygen_diod.blink(0);
    this.status_panel.tracking_diod.blink(0);
    this.speed_panel.diod.blink(0);
    this.sequence_panel.sequence_input.show(false);
    this.quit_callback(this.mission.is_achieved);
  };
  this.sequence_panel = new P83SequencePanel(this, 0, 28, this.mission, this.move.bind(this));
  this.mission_panel = new P83MissionPanel(this, 42, 28, this.mission, this.quit.bind(this));
  //
  this.splash = new P83Splash(this, 8, 16, this.quit.bind(this));
  //
  this.children = [
    this.thrust_panel,
    this.speed_panel,
    this.position_panel,
    this.scope,
    this.status_panel,
    this.target_selector,
    this.sequence_panel,
    this.mission_panel/*,
     this.report*/
  ];
  //
  this.draw = function () {
    for (var i = 0; i < this.children.length; i++) {
      this.children[i].draw();
    }
  };
  this.setup = function (positions, is_diagonal_allowed, is_tracking_ok, oxygen) {
    this.mission.setup("NO NAME", "NO CODE", positions, is_diagonal_allowed, is_tracking_ok, oxygen);
    this.thrust_panel.setup();
    this.target_selector.setup();
    this.sequence_panel.setup();
    //this.report.setup();
    //this.report.show();
  };
  this.on_click = function (x, y) {
    //this.report.hide();
    if (this.mission.is_achieved || this.mission.oxygen <= 0) {
      this.splash.on_click(x, y);
    } else {
      this.thrust_panel.on_click(x, y);
      this.target_selector.on_click(x, y);
      this.mission_panel.on_click(x, y);
    }
  }
}

function P83Map(parent, callback) {
  this.root = parent.root;
  this.callback = callback;
  this.title = new P83Title(this, 0, 0, 56, 32, "ACHIEVEMENT MAP");
  this.draw = function () {
    this.title.draw();
    for (var i = 0; i < this.children.length; i++) {
      this.children[i].draw();
    }
  };
  this.on_click = function (x, y) {
    for (var i = 0; i < this.children.length; i++) {
      this.children[i].on_click(x, y);
    }
  };
  this.children = [];
  for (var i = 0; i < 10; i++) {
    this.children.push(new P83MenuItem(this, 2, 2 + i * 2, "" + (i + 1), this.draw.bind(this), this.callback.bind(this, i)));
  }
  this.children.push(new P83MenuItem(this, 2, 33, "RESET ACHIEVEMENTS", this.draw.bind(this), function () {
  }));
  this.children.push(new P83MenuItem(this, 14, 33, "SAVE ACHIEVEMENTS", this.draw.bind(this), function () {
  }));
  this.children.push(new P83MenuItem(this, 26, 33, "LOAD ACHIEVEMENTS", this.draw.bind(this), function () {
  }));
}

GAME_STATE_MAP = 0;
GAME_STATE_MISSION = 1;

function P83Game() {
  this.root = this;
  this.canvas = document.getElementById('controler');
  this.ctx = this.canvas.getContext('2d');
  this.state = GAME_STATE_MAP;
  this.i_mission = -1;
  this.start_mission = function (i_mission) {
    this.i_mission = i_mission;
    switch (i_mission) {
      case 0:
        this.controler.setup([15, 12], true, true, 100);
        break;
      case 1:
        this.controler.setup([18, 21, 23, -3, -3, 5], true, true, 100);
        break;
      case 2:
        this.controler.setup([51, 0], true, true, 10);
        break;
      case 3:
        this.controler.setup([0, 8], true, false, 6);
        break;
      case 4:
        this.controler.setup([17, 63], true, true, 11);
        break;
      case 5:
        this.controler.setup([17, 63], true, false, 16);
        break;
      case 6:
        this.controler.setup([17, 63], false, true, 13);
        break;
      case 7:
        this.controler.setup([17, 63], false, false, 18);
        break;
      case 8:
        this.controler.setup([18, 21, 23, -3, -3, 5, 47, 2, -13, 4], false, false, 30);
        break;
      case 9:
        this.controler.setup([18, 21, 23, -3, -3, 5, 47, 2, -13, 4], false, true, 30);
        break;
    }
    this.state = GAME_STATE_MISSION;
    this.draw();
  };
  this.end_mission = function (is_achieved) {
    this.state = GAME_STATE_MAP;
    if (!is_achieved) {
      this.map.children[this.i_mission].button.is_lit = false;
    }
    this.draw();
  };
  this.map = new P83Map(this, this.start_mission.bind(this));
  this.controler = new P83Controler(this, this.end_mission.bind(this));
  this.draw = function () {
    this.ctx.fillStyle = "#000000";
    this.ctx.fillRect(0, 0, this.canvas.width, this.canvas.height);
    switch (this.state) {
      case GAME_STATE_MAP:
        this.map.draw();
        break;
      case GAME_STATE_MISSION:
        this.controler.draw();
        break;
    }
  };
  this.resize = function () {
    this.unit = Math.floor(Math.min(window.innerWidth / 56, window.innerHeight / 35));
    this.canvas.width = 56 * this.unit;
    this.canvas.height = 35 * this.unit;
    this.draw();
  };
  this.resize();
  window.addEventListener('resize', this.resize.bind(this));
  this.on_click = function (x, y) {
    switch (this.state) {
      case GAME_STATE_MAP:
        this.map.on_click(x, y);
        break;
      case GAME_STATE_MISSION:
        this.controler.on_click(x, y);
        break;
    }
  };
  this.canvas.addEventListener(
    'click',
    function (event) {
      var x = event.pageX - this.canvas.offsetLeft;
      var y = event.pageY - this.canvas.offsetTop;
      this.on_click(x, y);
    }.bind(this),
    false);
}

// Global variables & Init
var pro83_game = new P83Game();

document.getElementById("music").volume = 0.01;
document.getElementById("music").play();

</script>

</html>
