{% extends "pr083/base.html" %}
{% load static %}
{% block css %}
  <link href="https://fonts.googleapis.com/css?family=Nova+Mono&display=swap" rel="stylesheet">
  <style>
  #canvas {
    margin: 0 auto;
  }
  </style>
{% endblock %}

{% block content %}
  <canvas id="canvas" width="1024" height="512"></canvas>
  <input id="input" type="text" value="hjkhj"/>
  {{ level_data|json_script:"data" }}
  {% comment %}<audio id="music" src="audio/music.mp3" type="audio/mpeg" loop></audio>
  <audio id="thruster" src="audio/thruster.mp3" type="audio/mpeg"></audio>
  <audio id="click" src="audio/click.mp3" type="audio/mpeg"></audio>
  <audio id="blip" src="audio/blip.mp3" type="audio/mpeg"></audio>{% endcomment %}
{% endblock %}
{% block js %}
  <script type="module" src="{% static "pr083/app.js" %}"></script>
  <script type="nomodule" src="{% static "pr083/bundle/app.js" %}"></script>
{% endblock %}
