{% extends "pr083/base.html" %}
{% block css %}
  <style>
  .headerbar {
    display: flex;
    height: 3em;
    width: 100%;
    padding: 0 1em;
    align-content: stretch;
    align-items: baseline;
    justify-content: stretch;
    justify-items: stretch;
  }

  .headerbar .title {
    font-weight: 600;
    color: #00ff00;
  }

  .headerbar .left, .headerbar .right {
    display: flex;
    margin: 0 0.5em;
    padding: 0.5em;
    justify-content: space-around;
  }
  </style>
{% endblock %}
{% block content %}
  <div class="headerbar">
    <div class="left"><span class="title">pr083</span></div>
    <div class="right">
      {% if user.is_authenticated %}
        <a href="{% url 'data:logout' %}">Log out</a>
      {% else %}
        <a href="{% url 'data:signup' %}">Sign up</a>
        <a href="{% url 'data:login' %}">Log in</a>
      {% endif %}
    </div>
  </div>
  <h1>Niveaux disponibles</h1>
  <ul>
    {% for level in levels %}
      <li><a href="{% url 'data:game' level.pk %}">{{ level.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
